/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS GLOBAL */
* {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-size: 100%;
  object-fit: contain;
  font-family: 'Roboto', sans-serif;
}

body, html {
  background-color: #242629;
  color: #5C6577;
}
a {color: #fff;}
a, button { 
  width: auto;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a:hover, button:hover {
  opacity: 0.6;
  transition: 0.6s;
}